// Variables
@import "variables";

// Aplicando Extend
%center{
    text-align: center;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:800px){  
    h3 {
    font-size: 15px;
    padding-top: 5px;
    }
    svg{
        width: 30px;
        height: 30px;
    }
}
svg{
    width: 50px;
    height: 50px;
    color: $colortextos2;
}

.card{
    text-align: center;
}

h1{
    color:$colortextos1;
    @extend %center;
}

h2{
    color:$colortextos1;
    @extend %center;
}

h3{
    color: $colortextos2;
}

h4{
    color:$colortextos1;
    font-size: 18px;
}

nav.link{
    color: $colortextos2;
}

footer{
    background-color: $fondo1;
    width: 100%;
    height: 100px;
    display: flex;
}

.textofooter{
    color: $colortextos2;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
    width: 100%;
    height: auto;
    text-align: center;
    margin: auto;
    padding: auto;

}

.redondear{
    border-radius: 50%;
}

.mapa{
    height: 440px;
    width: 100%;
    border: 0;
}

// Aplicando Nesting
main{ 
    img{
    width: 100%;
    }
}

.btn{
    color: $colortextos2;
    background-color: $fondo1;
    width: 100%;
    &:hover{
        background-color: $fondo2;
        transition: all 2s;
    }

}
